{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "importOrder": [
    "^@alphaflow/",
    "^util/",
    "^assets/",
    "^config/",
    "^models/",
    "^resources/",
    "^hooks/",
    "^auth/",
    "^style/",
    "^components/",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
